<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>PigLatinize!</title>
  </head>
  <body>
    <h1>Your phrase in Pig Latin is...
    <%= @piglatinized %></h1>
    
  </body>
</html>